In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from warnings import filterwarnings
filterwarnings('ignore')

# Reading the dataset

In [5]:
df = pd.read_csv(r'C:\Users\jyo14\.jupyter/Balaji Fast Food Sales.csv')

In [6]:
df

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

# Understanding the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   object
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [8]:
print('No.of rows :',df.shape[0],'No.of columns :',df.shape[1])
print(df.size)

No.of rows : 1000 No.of columns : 10
10000

# Check for duplicates

In [9]:
df.duplicated().sum()

0

# Inference
There are 1000 rows and 10 columns.
The columns consists of order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,gender of the person who received the order and time_of_sale.
Datatypes are int and object.
The size of the dataset is 10000.
There are no duplicates.
There are some null values in the column 'transaction_type'

In [10]:
df.info

<bound method DataFrame.info of      order_id        date        item_name  item_type  item_price  quantity  \
0           1  07-03-2022         Aalopuri   Fastfood          20        13
1           2   8/23/2022          Vadapav   Fastfood          20        15
2           3  11/20/2022          Vadapav   Fastfood          20         1
3           4  02-03-2023  Sugarcane juice  Beverages          25         6
4           5  10-02-2022  Sugarcane juice  Beverages          25         8
..        ...         ...              ...        ...         ...       ...
995       996   3/19/2023          Frankie   Fastfood          50        10
996       997   9/20/2022         Sandwich   Fastfood          60         7
997       998   1/26/2023         Sandwich   Fastfood          60        13
998       999   8/27/2022         Panipuri   Fastfood          20         5
999      1000   5/29/2022         Aalopuri   Fastfood          20         3

     transaction_amount transaction_type received_by time_of_sale
0                   260              NaN         Mr.        Night
1                   300             Cash         Mr.    Afternoon
2                    20             Cash         Mr.    Afternoon
3                   150           Online         Mr.        Night
4                   200           Online         Mr.      Evening
..                  ...              ...         ...          ...
995                 500              NaN        Mrs.      Evening
996                 420              NaN         Mr.      Evening
997                 780              NaN         Mr.      Evening
998                 100              NaN        Mrs.    Afternoon
999                  60           Online        Mrs.     Midnight

[1000 rows x 10 columns]>

# Changing datatype of date

In [11]:
df['date'] = df['date'].str.replace('/','-')

In [12]:
df['date'] = pd.to_datetime(df['date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            1000 non-null   int64
 1   date                1000 non-null   datetime64[ns]
 2   item_name           1000 non-null   object
 3   item_type           1000 non-null   object
 4   item_price          1000 non-null   int64
 5   quantity            1000 non-null   int64
 6   transaction_amount  1000 non-null   int64
 7   transaction_type    893 non-null    object
 8   received_by         1000 non-null   object
 9   time_of_sale        1000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 78.2+ KB

# Separate categorical and num columns

In [15]:
num_col = df.select_dtypes(include=np.number).columns.to_list()
cat_col = df.select_dtypes(include='object').columns.to_list()

In [17]:
print('The numeric columns are',num_col)

The numeric columns are ['order_id', 'item_price', 'quantity', 'transaction_amount']

In [20]:
print('The categorical columns are',cat_col)

The categorical columns are ['item_name', 'item_type', 'transaction_type', 'received_by', 'time_of_sale']

In [19]:
print('The date column : date')

The date column : date

# Stats

In [ ]:
# Measures of Central tendency

In [22]:
for i in num_col:
    print('The mean value of the column',i,'is',df[i].mean())

The mean value of the column order_id is 500.5
The mean value of the column item_price is 33.315
The mean value of the column quantity is 8.162
The mean value of the column transaction_amount is 275.23

In [29]:
for i in num_col:
    print('The median value of the column',i,'is',df[i].median())

The median value of the column order_id is 500.5
The median value of the column item_price is 25.0
The median value of the column quantity is 8.0
The median value of the column transaction_amount is 240.0

In [24]:
for i in num_col:
    print('The mode value of the column',i,'is',df[i].mode())

The mean value of the column order_id is 0         1
1         2
2         3
3         4
4         5
       ...
995     996
996     997
997     998
998     999
999    1000
Name: order_id, Length: 1000, dtype: int64
The mean value of the column item_price is 0    20
Name: item_price, dtype: int64
The mean value of the column quantity is 0    13
Name: quantity, dtype: int64
The mean value of the column transaction_amount is 0    300
Name: transaction_amount, dtype: int64

In [25]:
for i in cat_col:
    print('The mean value of the column',i,'is',df[i].mean())

TypeError: Could not convert AalopuriVadapavVadapavSugarcane juiceSugarcane juiceVadapavSugarcane juicePanipuriPanipuriPanipuriFrankieVadapavPanipuriFrankieAalopuriSandwichPanipuriPanipuriPanipuriCold coffeeCold coffeeSugarcane juiceSandwichSugarcane juiceSandwichSugarcane juiceCold coffeeCold coffeeSugarcane juiceFrankieCold coffeeAalopuriAalopuriFrankieVadapavCold coffeeFrankiePanipuriVadapavSandwichCold coffeeAalopuriVadapavCold coffeeSugarcane juiceVadapavSandwichSandwichFrankieVadapavFrankieSugarcane juiceAalopuriPanipuriSandwichPanipuriPanipuriVadapavVadapavCold coffeeVadapavSugarcane juiceSandwichCold coffeeAalopuriFrankieAalopuriCold coffeeVadapavCold coffeeCold coffeeFrankiePanipuriCold coffeeCold coffeeVadapavSugarcane juiceVadapavPanipuriFrankieFrankieFrankieFrankiePanipuriAalopuriAalopuriAalopuriCold coffeeAalopuriVadapavCold coffeeAalopuriCold coffeeAalopuriSugarcane juiceSandwichCold coffeeVadapavSugarcane juicePanipuriVadapavCold coffeeCold coffeeCold coffeePanipuriFrankieSandwichPanipuriCold coffeePanipuriSandwichSandwichAalopuriAalopuriAalopuriSugarcane juiceFrankieSandwichPanipuriFrankieCold coffeePanipuriCold coffeeSugarcane juiceVadapavPanipuriAalopuriVadapavPanipuriSugarcane juiceSandwichVadapavAalopuriAalopuriAalopuriAalopuriSugarcane juiceSandwichFrankieFrankieAalopuriSugarcane juiceFrankiePanipuriSandwichFrankiePanipuriSandwichSandwichCold coffeeFrankieCold coffeePanipuriVadapavSugarcane juicePanipuriFrankieAalopuriSugarcane juiceVadapavSugarcane juiceAalopuriFrankieSugarcane juiceSandwichPanipuriCold coffeeSandwichVadapavAalopuriVadapavSugarcane juiceCold coffeeAalopuriFrankiePanipuriPanipuriAalopuriSugarcane juiceVadapavCold coffeeCold coffeeSugarcane juiceCold coffeeSugarcane juiceFrankieAalopuriPanipuriVadapavCold coffeeSugarcane juiceVadapavCold coffeeVadapavSandwichSandwichPanipuriFrankieFrankieCold coffeePanipuriAalopuriVadapavCold coffeeVadapavAalopuriCold coffeeCold coffeeAalopuriSugarcane juiceAalopuriCold coffeeVadapavSugarcane juiceSugarcane juicePanipuriCold coffeeCold coffeeAalopuriSugarcane juiceSandwichSandwichPanipuriSugarcane juiceFrankieAalopuriCold coffeePanipuriPanipuriFrankieSugarcane juiceVadapavPanipuriPanipuriSandwichVadapavPanipuriVadapavFrankieSandwichSugarcane juiceCold coffeePanipuriSandwichVadapavVadapavSugarcane juiceFrankieSugarcane juiceSugarcane juiceCold coffeeVadapavSugarcane juiceCold coffeeVadapavAalopuriSandwichVadapavSandwichSugarcane juiceFrankieVadapavPanipuriSugarcane juiceVadapavFrankieVadapavCold coffeePanipuriSandwichVadapavFrankiePanipuriSugarcane juiceVadapavSugarcane juiceCold coffeeFrankieVadapavPanipuriSandwichVadapavPanipuriFrankieAalopuriVadapavAalopuriSandwichAalopuriPanipuriFrankieFrankiePanipuriAalopuriSandwichPanipuriSandwichSugarcane juiceAalopuriAalopuriPanipuriAalopuriSugarcane juiceVadapavPanipuriCold coffeeVadapavSandwichSandwichVadapavFrankieCold coffeeCold coffeeFrankieCold coffeeFrankieAalopuriAalopuriFrankieSugarcane juiceFrankieCold coffeeAalopuriSugarcane juiceAalopuriSandwichFrankieVadapavPanipuriPanipuriPanipuriAalopuriSugarcane juiceCold coffeeCold coffeeSugarcane juiceAalopuriSugarcane juiceSugarcane juiceCold coffeeFrankieVadapavSugarcane juiceCold coffeePanipuriCold coffeeFrankieVadapavPanipuriCold coffeeFrankieFrankieVadapavPanipuriCold coffeeSugarcane juiceSandwichAalopuriAalopuriCold coffeeSandwichSugarcane juiceFrankieCold coffeePanipuriSugarcane juicePanipuriCold coffeeSandwichPanipuriVadapavFrankieSugarcane juiceFrankiePanipuriFrankieSugarcane juiceVadapavCold coffeeSandwichVadapavCold coffeeAalopuriSugarcane juiceVadapavFrankieSugarcane juiceSandwichSandwichSugarcane juiceAalopuriAalopuriSugarcane juiceSandwichSandwichFrankieAalopuriPanipuriPanipuriCold coffeeSugarcane juiceFrankieCold coffeeFrankieSugarcane juiceCold coffeeSugarcane juiceVadapavAalopuriAalopuriPanipuriSugarcane juiceAalopuriCold coffeeVadapavSandwichPanipuriCold coffeeSugarcane juiceFrankieCold coffeeCold coffeeFrankieSugarcane juicePanipuriFrankieSandwichSugarcane juiceCold coffeeSandwichPanipuriPanipuriPanipuriAalopuriSandwichFrankieCold coffeeCold coffeeFrankieAalopuriAalopuriSugarcane juiceSugarcane juiceFrankieSandwichCold coffeeFrankieVadapavFrankieSugarcane juiceSugarcane juiceFrankieSandwichSandwichCold coffeeCold coffeeCold coffeeSugarcane juiceVadapavAalopuriSugarcane juiceVadapavSandwichSugarcane juiceSugarcane juicePanipuriAalopuriPanipuriSandwichVadapavPanipuriPanipuriSandwichSugarcane juiceCold coffeeAalopuriSandwichSugarcane juiceSandwichVadapavSugarcane juiceAalopuriPanipuriCold coffeeAalopuriVadapavSandwichCold coffeeFrankieCold coffeeVadapavSandwichCold coffeeCold coffeeAalopuriCold coffeeSandwichFrankieSandwichVadapavSugarcane juicePanipuriAalopuriCold coffeeFrankieCold coffeeAalopuriSandwichVadapavSandwichPanipuriPanipuriCold coffeeCold coffeeSandwichSugarcane juicePanipuriAalopuriCold coffeePanipuriPanipuriPanipuriFrankieAalopuriVadapavSandwichSugarcane juiceSugarcane juiceAalopuriPanipuriCold coffeePanipuriFrankieVadapavSandwichSugarcane juicePanipuriPanipuriPanipuriVadapavPanipuriSugarcane juiceAalopuriSandwichSandwichAalopuriCold coffeeCold coffeeSugarcane juiceCold coffeeSugarcane juiceSugarcane juicePanipuriPanipuriSandwichVadapavSandwichPanipuriCold coffeeSugarcane juicePanipuriFrankieFrankieCold coffeePanipuriFrankieCold coffeePanipuriCold coffeeSugarcane juiceSugarcane juiceSandwichFrankieAalopuriVadapavPanipuriCold coffeeFrankiePanipuriPanipuriSugarcane juiceAalopuriFrankieCold coffeeVadapavSandwichAalopuriFrankieCold coffeePanipuriSandwichSugarcane juiceSugarcane juiceFrankieFrankieCold coffeePanipuriCold coffeeFrankiePanipuriAalopuriAalopuriVadapavFrankieCold coffeeCold coffeeVadapavAalopuriAalopuriFrankieAalopuriAalopuriVadapavVadapavSandwichVadapavSugarcane juiceFrankieSugarcane juicePanipuriAalopuriPanipuriCold coffeeSandwichSandwichCold coffeeSugarcane juiceCold coffeeSugarcane juiceFrankieCold coffeePanipuriCold coffeePanipuriVadapavCold coffeeAalopuriCold coffeeVadapavSandwichVadapavCold coffeeSugarcane juicePanipuriSandwichVadapavVadapavSandwichFrankieSandwichSandwichCold coffeeFrankieVadapavSugarcane juiceSandwichCold coffeeAalopuriPanipuriSandwichFrankiePanipuriSugarcane juiceFrankieAalopuriPanipuriVadapavAalopuriSandwichPanipuriSandwichCold coffeeSandwichSugarcane juiceSandwichFrankieCold coffeeAalopuriSandwichCold coffeeFrankieAalopuriFrankieVadapavAalopuriCold coffeeVadapavFrankieVadapavVadapavSandwichFrankieSugarcane juicePanipuriPanipuriSugarcane juiceSugarcane juicePanipuriCold coffeeFrankieSugarcane juiceCold coffeePanipuriSandwichSandwichFrankiePanipuriSandwichCold coffeeSandwichAalopuriVadapavSugarcane juiceSugarcane juiceSandwichPanipuriSugarcane juiceAalopuriVadapavFrankiePanipuriVadapavCold coffeeFrankieVadapavPanipuriAalopuriVadapavSandwichFrankieFrankiePanipuriFrankieFrankiePanipuriPanipuriFrankieSandwichAalopuriAalopuriAalopuriPanipuriPanipuriFrankieAalopuriSugarcane juiceCold coffeeSandwichVadapavFrankieVadapavPanipuriSugarcane juiceSugarcane juiceAalopuriSugarcane juiceSugarcane juiceVadapavSugarcane juiceSugarcane juiceSandwichVadapavVadapavSandwichSandwichSandwichFrankieSandwichFrankieAalopuriPanipuriCold coffeeCold coffeeVadapavSandwichFrankiePanipuriFrankieSandwichSugarcane juiceAalopuriAalopuriAalopuriVadapavAalopuriSandwichAalopuriSugarcane juiceSugarcane juicePanipuriVadapavVadapavSandwichSugarcane juiceVadapavSugarcane juiceCold coffeeFrankiePanipuriCold coffeeAalopuriSandwichVadapavCold coffeeSugarcane juiceVadapavFrankiePanipuriPanipuriVadapavAalopuriPanipuriPanipuriVadapavCold coffeeSugarcane juiceAalopuriFrankieVadapavAalopuriAalopuriPanipuriPanipuriVadapavPanipuriSandwichSandwichPanipuriCold coffeeCold coffeeFrankieSugarcane juicePanipuriSugarcane juiceSugarcane juiceVadapavAalopuriCold coffeeSugarcane juiceCold coffeeVadapavPanipuriSugarcane juiceSugarcane juiceCold coffeeAalopuriPanipuriFrankieCold coffeeVadapavAalopuriSugarcane juiceCold coffeeCold coffeeVadapavAalopuriSugarcane juiceCold coffeeSandwichCold coffeeSugarcane juiceFrankieFrankieCold coffeeSugarcane juiceFrankieFrankieAalopuriPanipuriCold coffeeVadapavSandwichSugarcane juiceCold coffeeVadapavCold coffeeSugarcane juiceSandwichCold coffeeSugarcane juiceSandwichPanipuriAalopuriVadapavSugarcane juiceSugarcane juiceAalopuriVadapavVadapavSugarcane juiceCold coffeeSugarcane juiceSugarcane juiceSandwichSugarcane juiceAalopuriAalopuriFrankieAalopuriSugarcane juiceVadapavFrankieAalopuriAalopuriFrankieSandwichCold coffeeSandwichCold coffeePanipuriSandwichAalopuriFrankieSandwichCold coffeeCold coffeeVadapavPanipuriVadapavFrankieVadapavFrankieCold coffeePanipuriFrankieFrankieCold coffeeSandwichFrankieSugarcane juiceAalopuriSandwichSugarcane juiceCold coffeeSandwichPanipuriPanipuriSugarcane juiceVadapavSugarcane juiceCold coffeeFrankieVadapavAalopuriCold coffeeSandwichAalopuriSandwichPanipuriFrankiePanipuriAalopuriSandwichAalopuriSugarcane juiceFrankiePanipuriSandwichVadapavSugarcane juiceFrankieFrankieVadapavCold coffeeFrankiePanipuriCold coffeeCold coffeeCold coffeeAalopuriFrankieAalopuriSugarcane juiceVadapavAalopuriSugarcane juiceAalopuriFrankieAalopuriVadapavPanipuriSugarcane juiceCold coffeeFrankieFrankieSugarcane juiceVadapavFrankieCold coffeeVadapavSandwichSandwichFrankiePanipuriSugarcane juiceFrankieSandwichSandwichPanipuriAalopuri to numeric

In [27]:
for i in cat_col:
    print('The mean value of the column',i,'is',df[i].median())

TypeError: could not convert string to float: 'Aalopuri'

In [28]:
for i in cat_col:
    print('The mode value of the column',i,'is',df[i].mode())

The mean value of the column item_name is 0    Cold coffee
Name: item_name, dtype: object
The mean value of the column item_type is 0    Fastfood
Name: item_type, dtype: object
The mean value of the column transaction_type is 0    Cash
Name: transaction_type, dtype: object
The mean value of the column received_by is 0    Mr.
Name: received_by, dtype: object
The mean value of the column time_of_sale is 0    Afternoon
1        Night
Name: time_of_sale, dtype: object

In [ ]:
# Measures of Dispersion

In [36]:
for i in num_col:
    print('The range of the column',i,'is',df[i].max()-df[i].min())

The range of the column order_id is 999
The range of the column item_price is 40
The range of the column quantity is 14
The range of the column transaction_amount is 880

In [46]:
df['transaction_amount'].min()

20

# Inference

1) Item price ranges from 20 to 60 rupees
2) Minimum quantity ordered is 1 and the maximum is 15

In [35]:
for i in num_col:
    print('The variance of the column',i,'is',df[i].var())

The variance of the column order_id is 83416.66666666667
The variance of the column item_price is 222.65843343343138
The variance of the column quantity is 19.475231231231273
The variance of the column transaction_amount is 41780.57767767783

In [37]:
for i in num_col:
    print('The std.dev of the column',i,'is',df[i].std())

The std.dev of the column order_id is 288.8194360957494
The std.dev of the column item_price is 14.921743645882387
The std.dev of the column quantity is 4.413075031226104
The std.dev of the column transaction_amount is 204.4029786418922

In [47]:
for i in num_col:
    print('The inter quartile range of the column',i,'is',df[i].quantile(0.75)-df[i].quantile(0.25))

The inter quartile range of the column order_id is 499.5
The inter quartile range of the column item_price is 30.0
The inter quartile range of the column quantity is 8.0
The inter quartile range of the column transaction_amount is 240.0

In [49]:
df.describe()

          order_id   item_price     quantity  transaction_amount
count  1000.000000  1000.000000  1000.000000         1000.000000
mean    500.500000    33.315000     8.162000          275.230000
std     288.819436    14.921744     4.413075          204.402979
min       1.000000    20.000000     1.000000           20.000000
25%     250.750000    20.000000     4.000000          120.000000
50%     500.500000    25.000000     8.000000          240.000000
75%     750.250000    50.000000    12.000000          360.000000
max    1000.000000    60.000000    15.000000          900.000000

In [52]:
df.describe(include='all',percentiles=[0.2,0.6,0.8])

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
count,1000.000000,1000,1000,1000,1000.000000,1000.000000,1000.000000,893,1000,1000
unique,NaN,348,7,2,NaN,NaN,NaN,2,2,5
top,NaN,2022-10-11 00:00:00,Cold coffee,Fastfood,NaN,NaN,NaN,Cash,Mr.,Night
freq,NaN,8,161,686,NaN,NaN,NaN,476,512,205
first,NaN,2022-04-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2023-03-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,500.500000,NaN,NaN,NaN,33.315000,8.162000,275.230000,NaN,NaN,NaN
std,288.819436,NaN,NaN,NaN,14.921744,4.413075,204.402979,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,20.000000,1.000000,20.000000,NaN,NaN,NaN
20%,200.800000,NaN,NaN,NaN,20.000000,3.000000,100.000000,NaN,NaN,NaN
50%,500.500000,NaN,NaN,NaN,25.000000,8.000000,240.000000,NaN,NaN,NaN
60%,600.400000,NaN,NaN,NaN,40.000000,10.000000,280.000000,NaN,NaN,NaN
80%,800.200000,NaN,NaN,NaN,50.000000,13.000000,420.000000,NaN,NaN,NaN
max,1000.000000,NaN,NaN,NaN,60.000000,15.000000,900.000000,NaN,NaN,NaN

# Measure of Shape

In [53]:
# Skewness
for i in num_col:
    print('The skew value of the column',i,'is',df[i].skew())

The skew value of the column order_id is 0.0
The skew value of the column item_price is 0.6250044803515558
The skew value of the column quantity is -0.05129947454908782
The skew value of the column transaction_amount is 1.052643178230624

# Inference
1) Order_id column is zero skewed i.e. values are equally distributed.
2) Columns item_price and transaction_amount are positively skewed.
3) Quantity column is negatively skewed.

In [54]:
# Kurtosis
for i in num_col:
    print('The kurtosis value of the column',i,'is',df[i].kurt())

The kurtosis value of the column order_id is -1.2
The kurtosis value of the column item_price is -1.173262217524134
The kurtosis value of the column quantity is -1.2416861155903576
The kurtosis value of the column transaction_amount is 0.6554065709917558

# Inference
1) The columns item_price,quantity,transaction_amount are platy-kurtic.

In [ ]:
# Understanding cat_col

In [59]:
for i in cat_col:
    print('The unique values of the column',i,'is',df[i].value_counts(normalize=True)*100)
    print()
    print('*****')

The unique values of the column item_name is Cold coffee        16.1
Sugarcane juice    15.3
Panipuri           15.0
Frankie            13.9
Aalopuri           13.4
Vadapav            13.4
Sandwich           12.9
Name: item_name, dtype: float64

*****
The unique values of the column item_type is Fastfood     68.6
Beverages    31.4
Name: item_type, dtype: float64

*****
The unique values of the column transaction_type is Cash      53.303471
Online    46.696529
Name: transaction_type, dtype: float64

*****
The unique values of the column received_by is Mr.     51.2
Mrs.    48.8
Name: received_by, dtype: float64

*****
The unique values of the column time_of_sale is Night        20.5
Afternoon    20.5
Evening      20.1
Midnight     19.9
Morning      19.0
Name: time_of_sale, dtype: float64

*****

# Inference
1) Cold coffee is frequently ordered.
2) Fastfood is the most frequently ordered item_type.
3) Cash is the most preferred mode of transaction_type.
4) Male cashier receives most number of orders.
5) Most number of sale happens during night time.

In [ ]:
# Correlation and Covariance

In [60]:
df[num_col].corr()

                    order_id  item_price  quantity  transaction_amount
order_id            1.000000    0.037028  0.010345            0.043970
item_price          0.037028    1.000000  0.050361            0.637238
quantity            0.010345    0.050361  1.000000            0.731806
transaction_amount  0.043970    0.637238  0.731806            1.000000

# Inference:
1) Correlation between item_price and transaction_amount is moderately positively correlated.
2) Correlation between quantity and transaction_amount is highly positively correlated.
3) No correlation between item_price and quantity.

In [61]:
df[num_col].cov()

                        order_id   item_price    quantity  transaction_amount
order_id            83416.666667   159.577077   13.185185         2595.785786
item_price            159.577077   222.658433    3.316286         1943.606156
quantity               13.185185     3.316286   19.475231          660.122863
transaction_amount   2595.785786  1943.606156  660.122863        41780.577678